html {
    background-color: #000000;
    background-image:url(../img/backgrounds/15.jpg);
	background-attachment: fixed;
	background-size: 100% 100%;
}
a {
	text-decoration: none;
	color: inherit;
	border-width: 0;
}
a img {
    border-width: 0;
}
body {
	background-position: left top;
	font-family: 'Architects Daughter', cursive;
	font-size: 1em;
	color:  #DED3A9;
	text-shadow: black 2px 2px 2px;
	background-color: #0a0a0a;
	background-image:url(../img/backgrounds/15.jpg);
	background-attachment: fixed;
	background-size: 100% 100%;
	margin: 0;
	font-size: 100%;
	padding: 0;
}
.fixed {
	position: fixed;
	display: block;
    height: 100%;
    width: 600px;
    min-height: 800px;
    left: 50%;
    margin-left: -300px;
	top: 5px;
	background-attachment: fixed;
	background-size: 100% 100%;
	border: 3px solid black;
	-webkit-border-radius: 10px;
  	-moz-border-radius: 10px;
  	-ms-border-radius: 10px;
  	-o-border-radius: 10px;
  	border-radius: 10px;
  	-webkit-box-shadow: 3px 4px 30px black;
	-moz-box-shadow:    3px 4px 30px black;
	box-shadow:         3px 4px 30px black;
}
.box { 
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
	pointer-events: auto; 
	-webkit-box-shadow: 3px 4px 30px black;
	-moz-box-shadow:    3px 4px 30px black;
	box-shadow:         3px 4px 30px black;
}
/* Home Page */
#homeborder {
	border-width: 0;
	width: 720px;
	margin-left: -360px;
	background-image:url(../img/backgrounds/3.jpg);
	background-position: 0px 1px;
	opacity: .9;
}
#home {
	border-width: 0;
	background-image:url(../img/backgrounds/4.jpg);
}
header, #header {
	position: absolute;
	display: block;
	top: 155px;
	width: 600px;
	left: 50%;
	color: #9b9376;
	margin-left: -290px;
	padding-left: 40px;
	font-variant: small-caps;
	text-align: left;
	letter-spacing: -1.5px;
	font-size: 1.8em;
}
#frame {
	position: absolute;
	top: 193px;
	height: 480px;
	width: 520px;
	left: 50%;
	margin-left: -260px;
	border: 3px solid #857e65;
	background: black;
	opacity: .65;
	-webkit-border-radius: 25px 130px 25px 130px;
    -moz-border-radius: 25px 130px 25px 130px;
    -ms-border-radius: 25px 130px 25px 130px;
    -o-border-radius: 25px 130px 25px 130px;
    border-radius: 25px 130px 25px 130px;
	pointer-events:none;
	text-shadow: black 2px 2px 0px,
				 #e3e3e3 -.5px -.8px 0px;
}
#subheader {
	position: absolute;
	top: 170px;
	width: 520px;
	left: 50%;
	margin-left: -260px;
	letter-spacing: -1px;
	text-align: center;
	font-variant: small-caps;
	font-size: 3em;
	text-shadow:
     -1px -1px 3px #000,  
     1px -1px 3px #000,
     -2px 2px 3px #000,
     2px 2px 3px #000;
}
#drawingsPage, #ediblesPage, #writingsPage, #chartsPage,  
#drawingsPage:visited, #ediblesPage:visited, #writingsPage:visited, #chartsPage:visited {
	text-decoration: none;
	display: block;
	color: inherit;
	position: absolute;
	background-size: 100% 100%;
	width: 220px;
	height: 140px;
	border: 5px solid #303030;
	pointer-events: auto; 
	-webkit-border-radius: 15px 50px 15px 50px;
    -moz-border-radius: 15px 50px 15px 50px;
    -ms-border-radius: 15px 50px 15px 50px;
    -o-border-radius: 15px 50px 15px 50px;
    border-radius: 15px 50px 15px 50px;
	-webkit-box-shadow: 3px 4px 30px black;
	-moz-box-shadow:    3px 4px 30px black;
	box-shadow:         3px 4px 30px black;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#drawingsPage {
	top: 292px;
	left: 50%;
	margin-left: -228px;
	background-image:url(../img/backgrounds/11.jpg);
	background-attachment: fixed;
}
#writingsPage {
	top: 292px;
	left: 51%;
	background-image:url(../img/backgrounds/9.jpg);
	background-attachment: fixed;
}
#chartsPage {
	top: 460px;
	left: 50%;
	margin-left: -228px;
	background-image:url(../img/backgrounds/13.jpg);
	background-attachment: fixed;
}
#ediblesPage {
	top: 460px;
	left: 51%;
	background-image:url(../img/backgrounds/14.jpg);
	background-attachment: fixed;
}
#drawingsPage h2, #ediblesPage h2, #writingsPage h2, #chartsPage h2,  
#drawingsPage h2:visited, #ediblesPage h2:visited, #writingsPage h2:visited, #chartsPage h2:visited{
	text-align: center;
	margin-top: 20px;
	width: 100%;
	font-size: 2.9em;
	font-weight: 600;
	font-variant: small-caps;
	text-shadow:
     -1px -1px 3px #000,  
     1px -1px 3px #000,
     -2px 2px 3px #000,
     2px 2px 3px #000;
}
#drawingsPage:hover, #ediblesPage:hover, #writingsPage:hover, #chartsPage:hover,
#drawingsPage:focus, #ediblesPage:focus, #writingsPage:focus, #chartsPage:focus,
#drawingsPage:active, #ediblesPage:active, #writingsPage:active, #chartsPage:active {
	color: white;
	border: 3px solid #857e65;
}
.navbar {
	display: block;
	list-style-type: none;
	position: absolute;
	margin-left: 600px;
	margin-top: 10px;
	cursor: pointer;
	z-index: 9999;
	width: 250px;
	height: 50px;
	padding: 0px 0px;
}
#fullLink {
	margin-left: 550px;
	width: 300px;
}
.navbar > li {
	position: relative;
	display: inline;
	margin-left: 15px;
	margin-top: 4px;
}
.navbar img{
	height: 30px;
	width: auto;
}
#return img{
	padding-left: 10px;
	margin-right: 0px;
}
.navbar img:hover,
.navbar a:focus img,
.navbar a:active img{
	-moz-transition: all 0.5s ease; /* Enable CSS3 transition on all props */
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	height: 34px;
	padding-top: -3px;
	margin-left: -5px;
}

.banner {
	position: absolute;
	top: -25px;
	height: 30px;
	left: 100px;
	padding-left: 10px;
	font-variant: small-caps;
	font-size: 2.2em;
	text-align: left;
}
#album {
	color: white;
}
.container {
	height: 770px;
	width: 1210px;
	position: absolute;
	left: 50%;
    margin-left: -800px;
	top: 60px;
	z-index: +2;
	overflow-y: auto;
}
.container li {
	list-style: none;
	margin-bottom: 23px;
}
.container img {
	position: relative;
	left: 200px;
	border: 3px solid gray;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
	-webkit-box-shadow: 3px 4px 30px black;
	-moz-box-shadow:    3px 4px 30px black;
	box-shadow:         3px 4px 30px black;
	pointer-events: auto;
}
.footer {
	display: block;
	position: absolute;
	top: 725px;
	width: 840px;
	left: 50%;
	margin-left: -420px;
	list-style: none;
	z-index: 9998;
}
#homefooter {
	top: 575px;
}
.footer > li {
	position: absolute;
	margin-top: 12%;
	display: inline;
	font-variant: small-caps;
	font-size: 1.5em;
	text-shadow:
     -1px -1px 3px #000,  
     1px -1px 3px #000,
     -2px 2px 3px #000,
     2px 2px 3px #000;
}
.footer > li a, 
.footer > li a:visited {
	text-decoration: none;
	pointer-events: pointer;
	color: inherit;
}
.footer > li a:hover,
.footer > li a:focus,
.footer > li a:active {
	border-bottom: 3px solid #eee9d4;
	color: white;
	-moz-transition: all 0.3s ease; /* Enable CSS3 transition on all props */
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.footer > li:nth-child(1) {
	top: 5px;
	left: 165px;
	font-size: .9em;
	color: #857e65;
}
.footer > li:nth-child(2) {
	left: 390px;
}
.footer > li:nth-child(3) {
	left: 540px;
}
#drawings, #writings, #charts, #edibles, #contactme, #aboutme {
	width: 840px;
	margin-left: -420px;
	pointer-events: auto;
}
#drawings {
	background-image:url(../img/backgrounds/10.jpg);
}
#writings {
	background-image:url(../img/backgrounds/12.jpg);
}
#charts {
	background-image:url(../img/backgrounds/13.jpg);
}
#edibles {
	background-image:url(../img/backgrounds/6.jpg);
}
#contactme {
	background-image:url(../img/backgrounds/1.jpg);
}
#aboutme {
	background-image:url(../img/backgrounds/5.jpg);
}
#wrapper {
	width: 660px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 600px;
	height: auto !important;
	height: 600px;
}
#contact-area {
	width: 600px;
	margin: 180px auto;
	border: 3px solid gray;
	height: 600px;
	padding: 20px;
	background: #e3e3e3;
	opacity: .85;
	pointer-events: auto; 
	-webkit-border-radius: 15px 50px 15px 50px;
    -moz-border-radius: 15px 50px 15px 50px;
    -ms-border-radius: 15px 50px 15px 50px;
    -o-border-radius: 15px 50px 15px 50px;
    border-radius: 15px 50px 15px 50px;
	-webkit-box-shadow: 3px 4px 30px black;
	-moz-box-shadow:    3px 4px 30px black;
	box-shadow:         3px 4px 30px black;
}
#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-size: 1.4em;
	margin: 0px 0px 30px 0px;
	border: 2px solid #ccc;
}
#contact-area textarea {
	height: 350px;
}
#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}
#contact-area input.submit-button {
	width: 100px;
	float: right;
	pointer-events: pointer;
}
label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
	color: white;
}
#aboutme p{
	margin: 180px auto;
	text-align: center;
	font-size: 4em;
	color: white;

}
article, .article {
	width: 700px;
	height: 700px;
	margin: 60px auto;
	padding: 20px;
	background: #0f0f0f;
	-webkit-border-radius: 15px 50px 15px 50px;
    -moz-border-radius: 15px 50px 15px 50px;
    -ms-border-radius: 15px 50px 15px 50px;
    -o-border-radius: 15px 50px 15px 50px;
    border-radius: 15px 50px 15px 50px;
	-webkit-box-shadow: 3px 4px 30px black;
	-moz-box-shadow:    3px 4px 30px black;
	box-shadow:         3px 4px 30px black;
	pointer-events: auto;
	overflow-y: scroll;
	overflow-x: hidden;
}
article p, .article p {
	color: white;
	font-weight: 100;
	font-family: sans-serif;
}
:focus{
    outline:0; /*removes the dotted border*/
}
