/* Variables */
/* Mixins */
/* Styles */
* {
  box-sizing: border-box;
}
body {
  color: #250858;
  font-size: 16px;
  font-family: 'Lato', Arial, sans-serif;
  line-height: 1.43;
}
h1,
h2,
h3,
h4,
h5,
strong {
  line-height: 1.1;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
img,
hr {
  margin: 0;
  padding: 0;
  border: 0;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
#carousel-container {
  margin: 0 auto;
  padding: 25px;
  max-width: 1540px;
  position: relative;
}
.carousel-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
  padding-bottom: 8px;
  font-family: 'Amatic SC', cursive;
  letter-spacing: -1.2px;
}
.carousel-subheading {
  text-align: center;
  padding-bottom: 36px;
  font-size: 18px;
  letter-spacing: 0.4px;
}
#carousel-inner {
  position: relative;
  padding: 0 50px;
}
#slide-container {
  position: relative;
  overflow-x: hidden;
}
.item {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.item.active {
  position: relative;
  display: flex;
  z-index: 3;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.item.reset {
  display: none;
}
.slide {
  display: flex;
  width: 50%;
  padding: 12px 60px;
  background-color: #fff;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.slide:first-child {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slide:last-child {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.active .slide,
.prev .slide,
.next .slide {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.active.prev {
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
}
.active.next {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.slide-image {
  height: 166px;
  width: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slide-text {
  max-width: calc(100% - 168px);
  padding-left: 30px;
}
.slide-quote {
  padding: 30px 0;
}
.slide-name {
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  font-size: 17px;
}
.slide-name::before {
  content: '-';
  display: inline-block;
}
.slide-membership {
  font-family: 'Muli', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.2;
}
.move-slide {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 0;
  opacity: .129;
  z-index: 10;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.move-slide:hover {
  opacity: .4;
}
.move-slide:active {
  opacity: .8;
}
.move-slide:focus {
  outline: none;
}
#prev-slide {
  left: 0;
}
#next-slide {
  right: 0;
}
#next-slide img {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* Responsive */
@media (max-width: 1199px) {
  .carousel-subheading {
    padding-bottom: 20px;
  }
  .slide {
    padding: 10px 20px;
  }
  .slide-image {
    height: 140px;
  }
  .slide-quote {
    padding: 20px 0;
  }
  .move-slide img {
    height: 130px;
  }
}
@media (max-width: 992px) {
  .carousel-heading {
    font-size: 44px;
  }
  .carousel-subheading {
    display: none;
  }
  .item,
  .item.active {
    display: block;
  }
  .item:not(.active) .slide:not(:first-child) {
    display: none;
  }
  .active .slide:last-child {
    position: absolute;
    top: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  .slide {
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 12px 0px;
  }
  .active.prev {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  .active.next {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .slide-image {
    margin: 0 auto;
    top: 0;
    transform: none;
    height: 132px;
  }
  .slide-text {
    max-width: 400px;
    padding-left: 0px;
    margin: 0 auto;
  }
  .slide-quote {
    max-width: 300px;
  }
  .move-slide {
    top: 40px;
    transform: none;
    bottom: initial;
  }
  .move-slide img {
    height: 80px;
  }
  #prev-slide {
    left: 50%;
    margin-left: -175px;
    width: 100px;
  }
  #next-slide {
    right: 50%;
    margin-right: -175px;
    width: 100px;
  }
}
