body {
    font-size: 14px;
    color: rgb(62, 62, 62);
    line-height: 1.43;
    margin: 0;
    font-family:'Krub', Arial, sans-serif;
}
h1, h2, h3, h4, h5, strong {
    font-weight: 300;
    margin: 0;
    line-height: 1.1;
    font-family:'Montserrat';
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: rgb(0, 119, 204);
}
p {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a:hover {
}

/* Layout */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background-color: rgb(251,252,253);
}
.modal-open #overlay {
	display: none;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.8);
	z-index: 1;
}
.modal-open #overlay {
	display:block;
}
.section-wrapper {
    padding: 0 20px;
}
.section-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.content-section {
	margin: 10px 20px;
}

/* Header */
header {
}
.menu {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin-left: -20px;
    margin-right: -20px;
}
.menu-item {
    float: left;
}
.menu-link {
    display: block;
    line-height: 50px;
    font-size: 16px;
    padding: 0 15px;
    margin: 0 5px;
}

/* Content */
#content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}
#content-container {
    display: flex; 
}
#code-portfolio #content-container {
	flex-direction: column;
}
section {
    padding: 12px 0;
}
.content-heading {
	margin: 20px 0;
}

/* Side */
#code-portfolio #business-card {
	text-align: center;
}
.card-info > * {
	margin: 20px 0;
}
.name {
	font-size: 36px;
}
.position {
    font-size: 26px;
}
.contact-info {
}
.contact-info li{
	display: inline-block;
}
.contact-info li:not(:last-child)::after {
	content: '';
	width: 0;
	border: 3px solid;
	border-radius: 10px;
	display: inline-block;
	margin: 0 20px;
	opacity: .5;
	vertical-align: middle;
}
.contact-info a {
	color: inherit;
}
.p-street-address::after, .p-region::after {
	content:',';
	display: inline;
}
.photo, .resume {
	display: none;
}

/* Tiles */
.tiles {
	display: flex;
	flex-wrap: wrap;
}
.tile {	
	flex: 0 0 20%;
	padding: 18px;
	
}        
.tile-thumbnail {
	border: 1px solid rgba(0,0,0,.3);
	max-height: 100%;
	max-width: 100%;
	transition: opacity .3s ease-in-out, border-color .3s ease-in-out;
}
.tile-thumbnail:hover{
	opacity:.85;
	border-color: #14A8D6;
}
.active .tile-thumbnail,
.tile-thumbnail:focus,
.tile-thumbnail:active{
	opacity:.65;
	border-color: #14A8D6;
}
.tile.inactive {
	font-size: 0;
	cursor: pointer;
}
.tile-content {
	display: none;
	font-size: 0;
}
.active .tile-content {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	background-color: white;
	border: 0;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
    padding: 20px;
    white-space: nowrap;
}
.tile-image {
	display:inline-block;
	vertical-align: top;
}
.tile-info {
	padding-left: 20px;
    font-size: 16px;
    display:inline-block;
    vertical-align: top;
    width: 400px;
    white-space: normal;
}
.tile-heading h3 {
    font-size: 22px;
    margin-bottom: 12px;
}
.tile-heading span {
    font-size: 18px;
    margin-bottom: 12px;
    display:block;
}
.tile-info p{
    margin-bottom: 10px;
}
.btn {
	display: block;
	padding: 6px 12px;
	border-radius:4px;
	background-color: #14A8D6;
	border:1px solid #1296bf;
	transition: .3s background-color ease-in-out;
	color: white;
	text-align: center;
	margin-top: 20px;
}
.btn:hover {
	background-color: #1083a7;
    border-color: #1083a7;
}
.btn:focus,
.btn:active {
	background-color: #0d7190;
    border-color: #0d7190;
}
.close {
	position: absolute;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	top: 0px;
	right: 0px;
	color: inherit;
	font-size: 22px;
}


/* Footer */
footer {
    margin-top: auto;
}

/* Responsive */
@media (max-width:1199px) {

}
@media (max-width:992px) {
	.tile {
	    flex: 0 0 25%;
	}
} 
@media (max-width:767px) {
	.tile {
	    flex: 0 0 33%;
	}
}       
@media (max-width:479px) {
	.tile {
	    padding: 12px;
	}
}