body {
    font-size: 16px;
    color: rgb(62, 62, 62);
    line-height: 1.43;
    font-family:'Montserrat', Arial, sans-serif;
}
.modal-open{
    overflow-y: hidden;
    position: fixed;
	left: 0;
	right: 0;
}
h1, h2, h3, h4, h5, strong {
    font-weight: 300;
    line-height: 1.1;
}
body, h1, h2, h3, h4, h5, p, ul, img, hr {
    margin: 0;
    padding: 0;
    border: 0;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: rgb(0, 119, 204);
    transition: color .3s ease-in-out;
}
ul {
    list-style: none;
}
a:hover {
}
.btn {
    display: block;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: #14A8D6;
    border: 1px solid #1296bf;
    transition: .3s background-color ease-in-out;
    color: white;
    text-align: center;
}
.btn:hover {
	background-color: #1083a7;
    border-color: #1083a7;
}
.btn:focus,
.btn:active {
	background-color: #0d7190;
    border-color: #0d7190;
}
.card-photo, .resume {
	display: none;
}


/* Layout */

.page-container {
    display: flex !important;
    flex-direction: column;
    min-height: 100vh !important;
    position: relative !important;
    background-color: rgb(251,252,253);
    overflow-x: hidden;
}
.section-wrapper {
    padding: 0 100px;
}
.section-container {
    width: 100%;
    max-width: 1154px;
    margin: 0 auto;
}
.content-section {
    padding: 20px;
}
.section-break{
    box-shadow: none;
}
section {
    padding: 10px 0;
}



/* Header */
header {
    background-color: rgb(84, 86, 84);
    color:white;
}

/* Content */
#main-content {
    background: url('../images/background/gplaypattern.png') top left repeat;
}
#main-content,
#content-container {
    flex: 1;
    display: flex;
}
#main-content,
#code-portfolio #content-container {
	flex-direction: column;
}
.main-heading {
    font-size: 26px;
    margin: 10px 0;
}
.content-heading {
    margin: 10px 0;
    opacity: .7;
    font-size: 22px;
}

#code-portfolio #business-card {
    text-align: center;
}

.card-info > * {
    padding: 10px 0;
}

.name {
    font-size: 36px;
}

.position {
    font-size: 26px;
    opacity: .7;
}



/* Tiles */

#tile-grid {
    position:relative;
}
.tile-container {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: stretch;
    align-items: stretch;
    position:absolute;
    opacity:0;
    transition:all .3s;
    left: 0;
    right: 0;
    top: 0;
    z-index:1;
}
.tile-container.active-grid {
    opacity:1;
    z-index:25;
    position:relative;
}
#tile-grid-header {
    display:inline-flex;
    position:relative;
    align-items: center;
    margin-bottom:20px;
}
.grid-tab {
    display:block;
    margin:0 20px;
    color: inherit;
}
.grid-tab * {
    pointer-events: none;
}
.grid-tab-separator {
    margin: 0 20px;
}
#sliding-box {
    border: 1px solid rgb(62, 62, 62);
    opacity: .7;
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    bottom: 0;
    transition: all .3s;
}
.tile {
    line-height: 0;
    border: 1px solid rgba(0,0,0,.2);
    background-color: white;
    padding: 4px;
    transition: padding .3s;
    border-radius: 4px;
}
.tile-thumbnail {
    position: relative;
    overflow: hidden;
    background-color: rgb(30,30,30);
    border-radius: 4px;
}
/*[data-type='demo'] .tile-thumbnail::after {
    content: "demo";
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 40px;
    background: rgba(30,30,30, .8);
    color: white;
    opacity: .9;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    transition: height .3s;
    overflow: hidden;
}   
.tile:hover {
    padding:0;
}    
.tile[data-type='demo']:hover .tile-thumbnail::after {
    height:0;
}*/
.thumbnail-image {
	max-height: 100%;
	max-width: 100%;
	transition: opacity .3s ease-in-out, border-color .3s ease-in-out;
}
.tile:hover .thumbnail-image,
.tile:focus .thumbnail-image{
	opacity:.65;
}
.active .thumbnail-image,
.thumbnail-image:focus,
.thumbnail-image:active{
	opacity:.45;
}
.thumbnail-details {
    position:absolute;
    transition: transform .3s;
    width:100%;
    left:0;
    color:white;
    background-color: rgba(30,30,30,.8);
    line-height: 1.43;
    padding:20px;
    bottom:0;
    transform:translateY(100%);
}
.thumbnail-title {
    font-weight:bold;
    font-size: 20px;
}
.thumbnail-date {
    font-size:12px;
    font-weight:300;
}
.tile-thumbnail:hover .thumbnail-details{
    transform:translateY(0);
}
.tile.inactive {
	cursor: pointer;
}
.tile:focus{
	outline: none;
} 
.tile-content {
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    width: 1362px;
    line-height: 1.43;
}
.active .tile-content {
    pointer-events: auto;
}
.project-content {
    width: 100%;
    padding: 50px;
}
.project-image {
    max-width: calc(100% - 400px);
    padding-right: 20px;
    text-align: center;
}
.project-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.project-info {
    max-width: 400px;
    padding-left: 20px;
}
.project-title {
    font-size: 22px;
    margin-bottom: 12px;
}
.project-date {
    font-size: 18px;
    margin-bottom: 12px;
    display:block;
}
.project-desc {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 232px);
}
.project-desc p {
    margin-bottom: 10px;
}
.tile-link {
    margin-top: 20px;
    font-size: 16px;
}
#overlay,
#controls,
.tile-content {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
}
.modal-open #overlay,
.modal-open #controls,
.active .tile-content {
    opacity: 1;
}
#overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 20;
}
.modal-open #overlay {
    pointer-events: auto;
}
#controls {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 40;
    pointer-events: none;
}
.move-slide,
#close-slide {
    display: block;
    position: absolute;
    opacity: .6;
    transition: opacity .3s ease-in-out;
    pointer-events: auto;   
}
.move-slide:hover,
#close-slide:hover {
    opacity: 1;
}
.move-slide {
    font-size: 40px;
    width: 40px;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px;
}
.move-slide i{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#prev-slide {
    left: 0;
    text-align:left;
}
#next-slide {
    right: 0;
    text-align: right;
}
#close-slide {
    height: 40px;
    line-height: 40px;
    width: 40px;
    top: 0;
    right: 0;
    font-size: 28px;
    text-align: center;
}


/* Footer */

footer {
    margin-top: auto;
	background-color: rgb(74, 76, 74);
}
.contact-info {
	display: flex;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	color: rgb(232,232,232);
	font-size: 14px;
}
.contact-info li:first-child {
	text-align: left;
}
.contact-info li:last-child {
	text-align: right;
}
.contact-item {
	flex: 1 0 auto;
	line-height: 36px;
}
.contact-item i {
	margin-right: 14px;
	color: white;
}
.contact-link {
	color: inherit;
}
.p-street-address::after, .p-region::after {
	content:',';
	display: inline;
}
.contact-item .fa-phone {
	transform: rotateZ(85deg);
}

/* Responsive */

@media (max-width:1199px) {
    body {
        font-size: 14px;
    }
    .menu-item {
        font-size: 12px;
    }
	/*.tile {
	    flex: 0 0 25%;
	}*/
}
@media (max-width:959px) {
    .section-wrapper {
        padding: 0 20px;
    }
    .section-container {
        max-width: 720px;
    }
    /*.tile {
	    flex: 0 0 33%;
	}*/
    .project-content {
        padding: 40px;
    }
	.contact-info {
		flex-direction: column;
		font-size: 13px;
	}
	.contact-info li:first-child,
	.contact-info li:last-child {
		text-align: center;
	}
} 
@media (max-width:767px) {
    .card-info > * {
        padding: 6px 0;
    }
    .name {
        font-size: 26px;
    }
    .position {
        font-size: 20px;
    }
    .main-heading {
        font-size: 22px;
    }
    .content-heading {
        font-size: 18px;
        margin: 6px 0;
    }
}
@media (max-width:632px) {
    .section-wrapper {
        padding: 0 14px;
    }
    /*.tile-container {
        margin-left: -12px;
        margin-right: -12px;
    }
    .tile {
        padding: 12px;
	    flex: 0 0 50%;
	}    */
} 
@media (max-width:479px) {
    .section-wrapper {
        padding: 0 2px;
    }
    .name {
        font-size: 24px;
    }
    .position {
        font-size: 18px;
    }
    .main-heading {
        font-size: 20px;
    }
    .content-heading {
        font-size: 16px;
    }
    /*.tile-container {
        margin-left: -8px;
        margin-right: -8px;
		flex-direction: column;
    }
	.tile {
	    padding: 8px;
		flex: 0 0 auto;
	}*/
	.project-info {
        padding: 10px;
    }
    .move-slide {
		top: 50px;
        height: calc(50% - 50px);
        transform: none;
    }
}

@media (orientation: portrait) {
	.tile-content {
        top: 50%;
        left: 50%;
        flex-direction: column;
        max-width: 100%;
        max-height: 100%;
        margin: 0;
		height: 100vh;
    }
    .project-content {
        max-width: 100%;
		height: 100%;
        max-height: 50vh;
    }
    .project-image {
        padding-bottom: 10px;
		margin: 0 auto;
    }
	.project-info {
        padding-top: 10px;
    }
    .project-title {
        font-size: 18px;
        float: left;
        line-height: inherit;
    }
    .project-date {
        font-size: 18px;
        float: right;
    }
    .project-desc {
        clear: both;
        max-height: calc(50vh - 120px);
        border: 1px solid rgba(40,40,40,.15);
        padding: 14px;
        background-color: rgb(244,244,244);
    }
}